body {
  background-image: url("https://pixabay.com/get/ga42991b4799983c50e8ad784237b768c8088cbbfb6ad25683f6cfd44eb2d1ab4963a4781639c10b96380420e8e6bbc21903861d08d20f4963480ea2bd71b2b04_1280.jpg");
  position: static;
  background-repeat: no-repeat;
  background-size: cover;
}

.searchBar {
  max-width: 8rem;
  max-height: 2rem;
  opacity: 0.5;
}

.greetingsLiz {
  width: 30rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(0, 66, 128);
}

.goodDay {
    text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.centerRow {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottomRow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.clock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background-color: rgba(79, 102, 128, 0.568);
}

.addTaskButton {
  max-height: 2rem;
  max-width: 2rem;
  background: transparent;
  border: none;
}

.taskBG {
  background: transparent;
}

.trashButton {
  background: transparent;
  border: none;
}

.quote {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.hiddenText {
  display: none;
}

.hoverAuthor + .hiddenText {
      display: block;
      color: rgb(71, 0, 65);
      font-size: 22px;
      font-weight: bold;
}